*{
    padding: 0%;
    margin: 0;
   }
.appearCover{
    opacity: 0;
    transition: opacity 1s ease-out;
}

.appear{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.7s ease-out;

}
.appearBar{
     opacity: 0;
     transform: scale(0.5);
  transition: 
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.barShow{
    opacity: 1;
    transform: scale(1);
}
.appear.show{
    opacity: 1;
    transform: translateY(0);
}
.cover.show{
    opacity: 0.6;
}
.cover{
    background-image: url(images/background.png);
    z-index: -4;
}


.cover, .content{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 101vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 0px;
    z-index: 1;
    padding: 20px;
}


.title{
    background-color: rgba(25, 129, 193, 0.091);
    font-family: 'Reddit Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 129, 193);
    padding: 5px 10px;
    border-radius: 30px;
}
.heading{
    font-family: "bebas neue";
    font-size: 5rem;
    padding: 0px;
    letter-spacing: 3px;
    text-shadow:  1px 1px 0 #999,
  2px 2px 0 #888,
  3px 3px 0 #777;
}

.subheading{
    font-family:'Roboto','Courier New', Courier, monospace;
    margin-top: 0px;
    color: #555;
    font-size: 20px;
}

#head1{
   color: black;
}
#head2{
     color: rgb(25, 129, 193);
}
.getStarted{
    border: none;
    width: 180px;
    min-height: 50px ;
    border-radius: 10px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(25, 129, 193);
    color: rgb(226, 208, 243);
    box-shadow: 0 0 30px rgba(120, 60, 200, 0.5);
     cursor: pointer;
     transition: box-shadow 0.3s ease, transform 1s ease;
     font-size: 15px;
}

.getStarted:hover{
    box-shadow: 0 0 50px rgba(120, 60, 200, 0.6);
    transform: scale(1.05);
}

.bar{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
}
