
#search{
    width: 100%;
    max-width: 250px;
}

.dropdown{
     width: 100%;
    max-width: 120px;
}
#search, .dropdown{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    padding: 10px;
}
.searchTools{
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}


#addTask {
   background-color:rgb(85, 146, 246);
     height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    min-width: 130px;
    color: white;
    font-size: 15px;
    transition: transform 0.2s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#addTask:hover{
    background-color: rgb(42, 70, 114);;
}


#taskList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 96%;
    min-width: 150px;
    margin: auto;
    row-gap: 10px;
    padding: 10px;
}

.taskCard{
    width: 370px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(235, 228, 228);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10px 30px;
    min-height: 150px;
    border-radius: 10px;
    gap:4px;
    font-family: "Josefin Sans",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
    transition: transform 0.3s;
    background-color: white;
}

.taskCard:hover{
    transform: translateY(-6px);
}


.description{
    font-size: 14px;
    color: #3c3b3b;
     font-family: "Roboto";

}


#addTaskForm{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
    margin: 20px;
}
label{
    font-family: 'Reddit Sans',Georgia, 'Times New Roman', Times, serif;

}
.btnsDiv{
    display:flex;
    justify-content: space-evenly;
}
.button{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5) ;
    justify-self: center;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#submitButton{
    background-color: rgb(85, 146, 246);
    color: white;
}

.modal-container{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    background-color: white;
    min-width:  30%;
    min-height: 60%;
    
    display: none;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.radio-buttons{
    display: flex;
    justify-content: space-between;
}
#closebtn{
    align-self: flex-end;
    margin-top: 0;
    font-weight: bold;
}

.formHeading{
    font-family: 'Reddit Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
}

input, textarea{
    border: 1px solid #c3bdbd;
    border-radius: 5px;
}

input{
    height: 30px;

}


.editBtn{
    background-color: rgb(255, 255, 255);
}

.deleteBtn{
    background-color: rgb(241, 218, 218);
}

.markComplete{
    background-color: rgb(201, 240, 213);
}


.btns{
    height: 25px;
    border-radius: 5px;
    font-family: "Roboto";
    border: none;
    margin:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.btns:hover, #addTask:hover{
    transform: translateY(-5px);
}

.completedTask .title, .completedTask .description, .completedTask .priority,.completedTask .dueDate,.completedTask .editBtn{

    text-decoration: line-through;
    color: #555
}

.completedTask, .completedTask .editBtn{
    background-color:lightgrey;
}


